.our-branches {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
  /* background-color: #ececec; */
}

.our-branches h1 {
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  font-weight: 900;
  font-family: "Comic Neue", cursive;
}

.our-branches .container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.our-branches .container .hotelCard {
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: #eee;
  /* width: 300px; */
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}

.our-branches .container .hotelCard::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--main-transition);
}

.our-branches .container .hotelCard:hover::before {
  animation: flashing 0.7s;
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.our-branches .container .hotelCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.our-branches .container .hotelCard img {
  width: 100%;
  /* object-fit: cover; */
}
.our-branches .container .hotelCard .info {
  padding: 25px;
  text-align: left;
}

.our-branches .container .hotelCard .info p.price {
  margin-bottom: 0;
}

.our-branches .container .hotelCard .info .first--line span {
  margin-left: 10px;
}

.our-branches .container .hotelCard .info .fa-star {
  color: gold;
}

.our-branches .container .hotelCard .info .bold {
  font-weight: bold;
}
.our-branches .container .hotelCard .info .light {
  color: gray;
}
