.createAccount {
  padding-top: 100px;
  padding-bottom: 100px;
}

.createAccount h1 {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.createAccount form {
  width: fit-content;
  margin: auto;
}
/*  */
.createAccount form div:not(.button) {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createAccount form div:not(.button) input {
  border-radius: 5px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  background-color: #eee;
  outline: none;
  border: none;
  border-bottom: 3px solid #003580;
  transition: 0.3s;
}

.createAccount form div:not(.button) input:focus {
  border-color: #009fe3;
}

.createAccount form div:not(.button) input::placeholder {
  color: #666;
  transition: 0.3s;
}

.createAccount form div:not(.button) input:focus::placeholder {
  color: transparent;
}

.createAccount form div.button {
  text-align: center;
}

.createAccount form div.button button {
  font-family: "Comic Neue", cursive;
  font-size: 20px;
  border: none;
  background-color: #feba02;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.createAccount form div.button button:hover {
  background-color: #d18700;
  color: white;
}

.createAccount form div label {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .createAccount form div label {
    display: none;
  }
}
